# Date:24-08-2025

In [2]:
# 1 . Simplify: (i) 8888 + 888 + 88 + 8 (ii) 715632 – 631104 – 9874 – 999
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))
d = int(input("Enter a number"))
op = int(input("Enter a number"))
if op == 1:
    print(a+b+c+d)
elif op == 2:
    print(a-b-c-d)
else:
    print("Please choose from 1 or 2")

Enter a number 715632
Enter a number 631104
Enter a number 9874
Enter a number 999
Enter a number 2

73655

In [4]:
# 2. What value will replace the question mark in each of the following questions?
# (i)? – 1936248 = 1635773 (ii) 9587 –? = 7429 – 4358
a = 1936248
b = 1635773
x = a + b
print(x)

c = 7429
d = 4358
e = c - d
f = 9587
y = f - e
print(y)

3572021
6516

In [5]:
# 3. What could be the maximum value of Q in the following equation? 5P9 + 3R7 + 2Q8 = 1114
# sol= We may analyse the given equation as shown:
# Clearly, 2 + P + R + Q = 11.
# (when P = 0, R = 0)
a = 11
b = 2
q = a - b
print("q =", q)

q = 9

In [6]:
# 4. Simplify: (i) 5793405 × 9999
a = 5793405
b = 9999
print("Solution is:",a * b)

Solution is: 57928256595

In [7]:
# 5. Evaluate: (i) 986 × 137 + 986 × 863 (ii) 983 × 207 – 983 × 107
a = 986
b = 137
c = 986
d = 863
print("Solution for (i) is:", ((a*b)+(c*d)))

e = 983
f = 207
g = 107
print("Solution for (ii) is:",((e * f)-(e * g)))

Solution for (i) is: 986000
Solution for (ii) is: 98300

In [9]:
#6. Simplify: (i) 1605 × 1605 (ii) 1398 × 1398
a = int(input("Enter a number"))
c = a * a
print("Solution is:", c)

Enter a number 1398

Solution is: 1954404

In [10]:
#7. Evaluate: (i) 475 × 475 + 125 × 125 (ii) 796 × 796 – 204 × 204
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))
if c == 1:
    print((a * a) + (b * b))
elif c == 2:
    print((a * a) - (b * b))
else:
    print("Please enter 1 or 2 only in c")

Enter a number 475
Enter a number 125
Enter a number 1

241250

In [11]:
#8. Simplify: (i) (387 × 387 + 113 × 113 + 2 × 387 × 113) (ii) (87 × 87 + 61 × 61 – 2 × 87 × 61)
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))
if c == 1:
    print((a * a) + (b * b) + (2 * a * b))
elif c == 2:
    print((a * a) + (b * b) - (2 * a * b))
else:
    print("Please enter 1 or 2 only in c")

Enter a number 387
Enter a number 113
Enter a number 1

250000

In [14]:
#9. Find the square root of 4a2 + b2 + c2 + 4ab – 2bc – 4ac
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))

result = (2*a + b - c)

print("Square root is:", result)

Enter a number 8
Enter a number 8
Enter a number 8

Square root is: 16

In [16]:
#10. A is counting the numbers from 1 to 31 and B from 31 to 1. A is counting the odd numbers only. The speed of both is the same. What will be the number which will be pronounced by A and B together 
I = 0
for k in range(0, 31): 
    A = 1 + 2*k
    B = 31 - k

    if A <= 31 and A == B:
        I = A 

print("They say together:", I)

They say together: 21

# Date:25-08-2025

In [1]:
# Simplify: (i)789 × 789 × 789 + 211 × 211 × 211 // 789 × 789 – 789 × 211 + 211 × 211
# (ii) 658 × 658 × 658 – 328 × 328 × 328 // 658 × 658 + 658 × 328 + 328 × 328
a = int(input("Enter a number"))
b = int(input("Enter a number"))
c = int(input("Enter a number"))
if c == 1:
    print(((a**3) + (b**3)) / ((a**2) - (a*b) + (b**2)))
elif c == 2:
    print(((a**3) - (b**3)) / ((a**2) + (a*b) + (b**2)))
else:
    print("Please choose the number from 1 and 2 only")

Enter a number 789
Enter a number 211
Enter a number 1

1000.0

In [2]:
# Simplify: (893 + 786)^2 – (893 – 786)^2 / (893 × 786)
a = ((893 + 786)**2)
b = ((893 - 786)**2)
c = (893 * 786)
d = (a - b) / c
print("Solution is :", d)

Solution is : 4.0

In [7]:
# Which of the following are prime numbers? 
# (i) 241 (ii) 337 (iii) 391 (iv) 571
num = int(input("Enter a number: "))
count = 0

if num > 1:
    for i in range(1, num + 1):
        if num % i == 0:
            count = count + 1

    if count == 2: 
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")
else:
    print(num, "is not a prime number")

Enter a number:  571

571 is a prime number

In [8]:
# Given that 12^2 + 22^2 + 32^2 + ..... + 102^2 = 385, then find the value of 22^2 + 42^2 + 62^2 + ...... + 202^2
total = 0

for i in range(22, 203):   
    if i % 20 == 2:      
        total = total + i*i

print("The sum is:", total)

The sum is: 158440

In [9]:
# Which of the following numbers is divisible by 3? (i) 541326 (ii) 5967013
num = int(input("Enter a number"))
if num % 3 == 0:
    print("The number is divisible by 3")
else:
    print("The number is not divisible by 3")

Enter a number 541326

The number is divisible by 3

In [11]:
#. What least value must be assigned to * so that the number 197*5462 is divisible by 9?
digits = [1, 9, 7, 5, 4, 6, 2] 
total = sum(digits)
for i in range(10):        
    if (total + i) % 9 == 0:
        print("The least value of * is:", i)

The least value of * is: 2

In [12]:
# Which of the following numbers is divisible by 4? (i) 67920594 (ii) 618703572
num = int(input("Enter a number"))
if num % 4 == 0:
    print("The number is divisible by 4")
else:
    print("The number is not divisible by 4")

Enter a number 67920594

The number is not divisible by 4

In [13]:
# Show that 4832718 is divisible by 11?
a = 4832718
if a % 11 == 0:
    print("The number is divisible by 11")
else:
    print("The number is not divisible by 11")

The number is divisible by 11

In [14]:
# Is 52563744 divisible by 24?
a = 52563744
if a % 24 == 0:
    print("The number is divisible by 24")
else:
    print("The number is not divisible by 24")

The number is divisible by 24

In [18]:
# On dividing 15968 by a certain number, the quotient is 89 and the remainder is 37. Find the divisor.
dividend = 15968
quotient = 89
remainder = 37
divisor = (dividend - remainder) / quotient
print("The divisor is:",divisor)

The divisor is: 179.0

# Date: 26-08-2025

In [19]:
# Evaluate squareroot of 6084 
a = int(input("Enter a number"))
print(a ** 0.5)

Enter a number 6084

78.0

In [2]:
# The body weight of six boys is recorded as 54 kg, 64 kg, 75 kg, 67 kg, 45 kg and 91 kg. What is the average body weight of all six boys?
a = 54 + 64 + 75 + 67 + 45 + 91
b = a / 6
print("the average body weight of all six boys is",b)

the average body weight of all six boys is 66.0

In [3]:
# Evaluate: (i) 70% of 320 + 45% of 240
a = (70 / 100) * 320
b = (45 / 100) * 240
c = a + b
print("Solution is",c)

Solution is 332.0

In [5]:
# 2 is what percent of 50?
a = 2 / 50
b = 100
c = a * b
print("2 is",c,"% of 50")

2 is 4.0 % of 50

In [6]:
# Mansi purchased a car for  2,50,000 rs and sold it for  3,48,000 rs. What is the percent profit she made on the car?
cp = 250000
sp = 348000
profit = sp - cp
print("The profit gained is",profit,"rs")
profit_percent = (profit / cp) * 100
print("The profit percentage is",profit_percent,"%")

The profit gained is 98000 rs
The profit percentage is 39.2 %

In [10]:
# Find S.P., when gain is given (i) C.P. = ` 56.25, Gain = 20%
def sp_gain(cp,gain):
    a = 100 + gain
    b = (a / 100) * cp
    print("The s.p after the gain % is",b,"rs")

sp_gain(56.25, 20)

The s.p after the gain % is 67.5 rs

In [11]:
# Find S.P., when loss is given (i) C.P. =  80.40, Loss = 15%
def sp_loss(cp,loss):
    a = 100 - loss
    b = (a / 100) * cp
    print("The sp after the loss is",b,"rs")

sp_loss(80.40, 15)

The sp after the loss is 68.34 rs

In [13]:
# A canteen requires 105 kgs of wheat for a week. How many kgs of wheat will it require for 58 days?
# 7 : 105 kgs  then 58 : ?
x = 58 * 105
y =  x / 7
print("The total wheat required for 58 days is",y,"kgs")

The total wheat required for 58 days is 870.0 kgs

In [14]:
# A tank 9 ft by 5 ft by 2ft is fitted with an inlet pipe and an exhaust pipe. The inlet pipe pours in 576 cu.
# inch of water per minute and the exhaust pipe can empty the full tank in 3 hours. If the tank is full and
# both pipes are open, how many hours will it take to empty it?
vol_tank_ft = ( 9 * 5 * 2)
print("The volume of tank in fts is", vol_tank_ft,"cu ft")
vol_tank_inch = vol_tank_ft * 12 * 12 * 12
print("The volume of tank in inch is", vol_tank_inch,"cu inch")
vol_drained_minute = (vol_tank_inch / (3 * 60)) - 576
print("Net volume drained in one minute, when both the pipes are opened",vol_drained_minute,"cu. inch")
Req_time = vol_tank_inch / (288 * 60)
print("When both pipes are open it will take",Req_time,"hrs to empty it")

The volume of tank in fts is 90 cu ft
The volume of tank in inch is 155520 cu inch
Net volume drained in one minute, when both the pipes are opened 288.0 cu. inch
When both pipes are open it will take 9.0 hrs to empty it

In [15]:
# Simplify (i) (27)^2/3
s = 27
p = 2 / 3
a = s ** p
print("The solution is",a)

The solution is 8.999999999999998

# Date: 27-08-2025

In [18]:
# Find the simple interest on  68000rs at 16 2/3 % per annum for 9 months.
def si():
    p = 68000 
    r = 50 / 3
    t = 9 / 12
    si = (p * r * t) / 100
    print("The simple interest is",si,"rs")

si()

The simple interest is 8500.000000000002 rs

In [20]:
# Find the maximum distance between two points on the perimeter of a rectangular garden whose length and breadth are 100 m and 50 m.
a = (100**2) + (50**2)
b = a ** 0.5
print("The maximum distance is",b,"m")

The maximum distance is 111.80339887498948 m

In [21]:
# Find the area of a triangle whose sides measure 15 cm, 16 cm and 17 cm
def area_tri(a, b, c):
    s = (1 / 2) * (a * b * c)
    d = a - s
    e = b - s
    f = c - s
    g = (s * d * e * f)
    h = g ** 0.5
    print("The area of triangle is",h)

area_tri(15,16,17)

The area of triangle is (2.518324258767058e-10+4112735.6238883142j)

In [22]:
# After 3 years, how much compound interest will be obtained on 7800 rs at the interest rate of 5% per annum?
r = 7800
a = ( 1 + (5 / 100)) ** 3
b = r * a
ci = b - r
print("The compound interest obtained is",ci)

The compound interest obtained is 1229.4750000000004

In [24]:
# A room is 12 metres long, 9 metres broad and 8 metres high. Find the length of the longest bamboo pole that can be placed in it
a = (12**2) + (9**2) + (8**2)
b = a ** 0.5
print("The length of longest bamboo pole is",b,"m")

The length of longest bamboo pole is 17.0 m

In [27]:
# The diagonal of a cube is 6 (3**0.5) cm. Find its volume and surface area.
a = 6
b = a * (3 ** 0.5)
vol = a ** 3
sa = 6 * (a ** 2)
print("The volume of cube is",vol,"The surface area is",sa)

The volume of cube is 216 The surface area is 216

In [29]:
# Find the slant height of a cone of radius 21 cm and height 28 cm.
a  = (21 ** 2) + (28 ** 2)
b = a ** 0.5
print("The slant height is",b,"cm")

The slant height is 35.0 cm

In [31]:
# Find the volume of a cone of radius 21 cm and height 28 cm
a = 3.14 * 21 * 21 * 28
b = (1 / 3) * a
print("The volume of a cone is",b)

The curved surface of a cone is 12924.24

In [34]:
# Find the curved surface area of a cone of radius 21 cm and slant height 35 cm
a = 3.14 * 21 * 35
print("The curved surface area of the cone = pi*r*l =",a)

The curved surface area of the cone = pi*r*l = 2307.9

In [36]:
# Find the total surface area of a cone of radius 21 cm and height 28 cm
a = 3.14 * 21 * 35
b = 3.14 * 21 * 21
c = a + b
print("The total surface area is",c)

The total surface area is 3692.6400000000003

# Date: 28-08-2025

In [2]:
# Find the present worth of 930 rs due 3 years hence at 8% per annum. Also find the discount
a = 100 * 930
b = 100 + (8 * 3)
pw = a / b
print("The present worth is",pw,"rs")
d = (930 - pw)
print("The discount is",d)

The present worth is 750.0 rs
The discount is 180.0

In [4]:
# What was the day of the week on 16th July, 1776?
d = 16  
m = 7    
y = 1776 

if m < 3:
    m += 12
    y -= 1

K = y % 100  
J = y // 100      

h = (d + 13*(m+1)//5 + K + K//4 + J//4 + 5*J) % 7

days = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
print(days[h])

Tuesday

In [5]:
# What was the day of the week on 15th August, 1947?
d = 15  
m = 8   
y = 1947 

if m < 3:
    m += 12
    y -= 1

K = y % 100  
J = y // 100      

h = (d + 13*(m+1)//5 + K + K//4 + J//4 + 5*J) % 7

days = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
print(days[h])

Friday

In [9]:
# What was the day of the week on 4th June, 2002?
def cal_week():
    d = int(input("Enter the day number from the date"))
    m = int(input("Enter the month from the date"))  
    y = int(input("Enter the year from the date"))

    if m < 3:
       m += 12
       y -= 1

    K = y % 100  
    J = y // 100      

    h = (d + 13*(m+1)//5 + K + K//4 + J//4 + 5*J) % 7

    days = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
    print(days[h])

cal_week()

Enter the day number from the date 4
Enter the month from the date 6
Enter the year from the date 2002

Tuesday

In [10]:
# A train travels 82.6 km/hr. How many metres will it travel in 15 minutes?
s = 82.6
per_min = s / 60
dis_km = per_min * 15
dis_m = dis_km * 1000
print("Distance travelled per minute is",per_min,"km/min")
print("Distance travelled in 15 minutes in km is",dis_km,"km")
print("Distance travelled in 15 minutes in m is",dis_m,"m")

Distance travelled per minute is 1.3766666666666665 km/min
Distance travelled in 15 minutes in km is 20.65 km
Distance travelled in 15 minutes in m is 20650.0 m

In [13]:
# If the true discount on a certain sum due 6 months hence at 15% is ` 120, what is the banker’s discount on 
# the same sum for the same time and at the same rate ?
si = 120 * 15 * (1 / 2) * (1 / 100)
bd = 120 + si
print("the banker’s discount on the same sum for the same time and at the same rate is",bd,"rs")

the banker’s discount on the same sum for the same time and at the same rate is 129.0 rs

In [3]:
# Excluding the stoppages, the speed of a bus is 64 km/hr and including the stoppages, the speed of the bus
# is 48 km/hr. For how many minutes does the bus stop per hour?
a = 64 - 48
t = (16 / 64) * 60
print("stoppage time per hour =",t,"min")

stoppage time per hour = 15.0 min

In [4]:
# Find the H.C.F. of: (a) 42, 63 and 140
def hcf(*nums):
    small = min(nums)
    ans = 1
    for i in range(1, small+1):
        count = 0
        for n in nums:
            if n % i == 0:
                count += 1
        if count == len(nums):
            ans = i
    return ans

print(hcf(42, 63, 140))

7

In [5]:
# Find the H.C.F. of: (b)108, 288 and 360
def hcf(*nums):
    small = min(nums)
    ans = 1
    for i in range(1, small+1):
        count = 0
        for n in nums:
            if n % i == 0:
                count += 1
        if count == len(nums):
            ans = i
    return ans

hcf(108, 288, 360)

36

In [7]:
# Find the L.C.M. of 16, 24, 36 and 54.
def lcm(*nums):
    n = list(nums)
    ans = 1
    p = 2
    while max(n) > 1:         # keep dividing until all become 1
        divided = 0
        for i in range(len(n)):
            if n[i] % p == 0:
                n[i] //= p
                divided = 1
        if divided == 1:
            ans *= p
        else:
            p += 1
    return ans

lcm(16, 24, 36, 54)

432

# Date:29-08-2025

In [4]:
# Write a python function for  two spheres (x1,y1,z1,r1) and (x2,y2,z2,r2), check whether the smaller lies completely inside the larger. 
def inside(x1,y1,z1,r1,x2,y2,z2,r2):
    d = ((x2 - x1)**2 + (y2 - y1)**2 + (z2 - z1)**2)**0.5
    if r1 > r2:
        r = r1 - r2
    else: r = r2 - r1
    if d < r or d == r:
        print("The smaller sphere lies completely inside the bigger sphere")
    else:
        print("The smaller sphere does not lie inside the bigger sphere")
        
inside(0,0,0,1,1,0,0,2)

The smaller sphere lies completely inside the bigger sphere

In [5]:
# Write a python function for Perpendicular Vectors in 3D Given vectors (a1,b1,c1) and (a2,b2,c2), check if Perpendicular (dot=0) or Not Perpendicular. 
def dot_p(a1,b1,c1,a2,b2,c2):
    dot = (a1*a2)+(b1*b2)+(c1*c1)
    if dot == 0:
        print("Given 3d vectors are perpendicular")
    else:
        print("Given 3d vectors are not perpendicular to each other")

dot_p(1,0,0,0,2,0)

Given 3d vectors are perpendicular

In [6]:
# Write a python function to Find LCM using Recursion                                         
def lcm(a, b, mul):
    if mul % a == 0 and mul % b == 0:
        print("LCM of", a, "and", b, "is:", mul)
    else:
        lcm(a, b, mul + b)

lcm(12, 18, 18)

LCM of 12 and 18 is: 36

In [7]:
# Write a python function to  Find GCD (Greatest Common Divisor) using recursion.  
def gcd(a, b):
    if b == 0:
        print("GCD is:", a)
    else:
        gcd(b, a % b)

gcd(48, 18)

GCD is: 6

In [8]:
# Write a python function to Check if Number is Prime using recursion                                                                                           
def is_prime(n, i=2):
    if n <= 1:
        print(n, "is not Prime")
    elif i * i > n:
        print(n, "is Prime")
    elif n % i == 0:
        print(n, "is not Prime")
    else:
        is_prime(n, i + 1)

is_prime(29)

29 is Prime

In [9]:
# Write a python function to find Product of Digits using recursion                                                                                              
def product_of_digits(n, prod=1):
    if n == 0:
        print("Product of digits is:", prod)
    else:
        product_of_digits(n // 10, prod * (n % 10))

product_of_digits(523)

Product of digits is: 30

In [10]:
# Write a python function to Print Number in Reverse using recursion
def reverse_number(n):
    if n > 0:
        print(n % 10, end="")
        reverse_number(n // 10)

reverse_number(123456)

654321

In [18]:
# Filter numbers with even digit sums, map to square, reduce to sum, map to their square, reduce to sum them.
from functools import reduce

nums = [12, 23, 45, 67, 89, 90]

squares = map(lambda n: (n*n if sum([int(d) for d in str(n)]) % 2 == 0 else 0),nums)
print(reduce(lambda a, b: a+b, squares, 0))

0

In [22]:
# Write a python program to form a list of numbers, remove all that are prime, then return the product of remaining.

nums = [2, 3, 4, 5, 6, 7, 8]
def is_not_prime(n, i=2):
    if n <= 1:
        return True
    if i*i > n:
        return False
    if n % i == 0:
        return True
    return is_not_prime(n, i+1)

print(reduce(lambda x,y: x*y,filter(lambda n: is_not_prime(n), nums)))

192

In [21]:
# write a python program to square numbers, keep only > 10, sum them
nums = [2, 3, 4, 5]
print(sum(filter(lambda n: n > 10, map(lambda x: x*x, nums))))

41

# Date:30-08-2025

In [24]:
# write a python program to convert a list of integers to their negatives
nums = [1, -2, 3, -4]
negative = list(map(lambda x: -abs(x), nums))
print(negative)

[-1, -2, -3, -4]

In [25]:
# Write a python program to keep only numbers where the sum of digits is odd
nums = [12, 23, 34, 45, 56]
sum_digit_odd = list(filter(lambda n: sum(int(d) for d in str(n)) % 2 == 1, nums))
print(sum_digit_odd)

[12, 23, 34, 45, 56]

In [26]:
# Write a python program to sort list by remainder when divided by 3.
nums = [10, 14, 7, 22, 5]
sort_list = sorted(nums, key=lambda x: x % 3)
print(sort_list)

[10, 7, 22, 14, 5]

In [27]:
# Write a python program to use enumerate() and map() to multiply value with its (1-based) position
nums = [10, 20, 30]
mul = list(map(lambda t: t[0]*t[1], enumerate(nums, start=1)))
print(mul)

[10, 40, 90]

In [28]:
# Write a python program to map each number to its absolute difference from 100.
nums = [90, 110, 150]
abs_diff = list(map(lambda x: abs(x-100), nums))
print(abs_diff)

[10, 10, 50]

In [29]:
# write a python program to filter numbers with all non-zero digits
nums = [102, 234, 405, 56, 77]
filter_num = list(filter(lambda n: all(d != '0' for d in str(n)), nums))
print(filter_num)

[234, 56, 77]

In [30]:
# Write a python program to filter numbers that are square of any other number in the list
nums = [2, 3, 4, 9, 16, 5]
squares = set(x*x for x in nums)
fil_sqr = list(filter(lambda n: n in squares, nums))
print(fil_sqr)

[4, 9, 16]

In [31]:
# From a list of numbers, calculate the sum of cubes of numbers divisible by 3.
from functools import reduce

nums = [2, 3, 5, 6, 9, 10, 12]

cubes = map(lambda n: n*n*n, filter(lambda n: n%3==0, nums))
print(reduce(lambda a,b: a+b, cubes, 0))

2700

In [32]:
# From a list of numbers, calculate the product of all even numbers.
from functools import reduce

nums = [2, 5, 8, 7, 10]

evens = filter(lambda n: n%2==0, nums)
print(reduce(lambda a,b: a*b, evens, 1))

160

In [33]:
# From a list of numbers, calculate the sum of double of numbers ending with digit 5.
from functools import reduce

nums = [12, 15, 25, 30, 45]

doubles = map(lambda n: n*2, filter(lambda n: n%10==5, nums))
print(reduce(lambda a,b: a+b, doubles, 0))

170

# Date: 31-08-2025

In [10]:
# In a km race, A beats B by 28 metres or 7 seconds. Then, find A’s time over the course.
a = (7 / 28) * 1000
b = a - 7
print("A's time over the course is",b,"secs")

A's time over the course is 243.0 secs

In [12]:
# A can run 1 km in 3 min 10 sec and B can cover the same distance in 3 min 20 sec. By what distance can A beat B?	 
A_B = (200-190)
Dis = (1000/200)*10
print("A beat B by",Dis,"m")

A beat B by 50.0 m

In [14]:
# In a 100 m race, A runs at 8 km per hour. If A gives B a start of 5 m and still beats him by 15 seconds, what is B’s speed?
A = ((60*60)/8000)*100
T = A + 15
B = (95 / T) * (18 / 5)
print("B's speed is",B,"km/hr")

B's speed is 5.7 km/hr

In [15]:
# In a 100 m race for children, A runs at 1.66 m/s. If A gives B a start of 4m and still beats him by 12 seconds, what is B’s speed?
T = 5000/83
B = (5000+996)/83
print("Time taken by B to run 96 m is",B,"secs")
B_S = ((96 * 83) / 5996)
print("B’s speed is",B_S,"m/s")

Time taken by B to run 96 m is 72.24096385542168 secs
B’s speed is 1.3288859239492996 m/s

In [16]:
# In how many different ways can the letters of the word ‘DETAIL’ be arranged so that the vowels occupy only the odd positions?
word = "DETAIL"
vowels = 0
consonants = 0
for ch in word:
    if ch in "AEIOUaeiou":
        vowels = vowels + 1
    else:
        consonants = consonants + 1
fv = 1
i = 1
while i <= vowels:
    fv = fv * i
    i = i + 1
fc = 1
j = 1
while j <= consonants:
    fc = fc * j
    j = j + 1
ways = fv * fc
print(ways)

36

In [17]:
# In how many ways can a cricket eleven be chosen out of 14 players?
n = 14
r = 11
def fact(x):
    f = 1
    for i in range(1, x+1):
        f = f * i
    return f
nCr = fact(n) // (fact(r) * fact(n-r))
print(nCr)

364

In [18]:
# In how many ways, a committee of 6 members be selected from 7 men and 5 ladies, consisting of 4 men and 2 ladies?
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f
def nCr(n, r):
    return fact(n) // (fact(r) * fact(n-r))
men = nCr(7, 4)     
ladies = nCr(5, 2)   
ways = men * ladies
print(ways)

350

In [19]:
# In how many ways can a group of 5 men and 2 women be made out of a total of 7 men and 3 women?
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f
def nCr(n, r):
    return fact(n) // (fact(r) * fact(n-r))
men = nCr(7, 5)     
women = nCr(3, 2)   
ways = men * women
print(ways)

63

In [20]:
# In how many ways can a committee of 4 people be chosen out of 8 people?
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f
def nCr(n, r):
    return fact(n) // (fact(r) * fact(n-r))
ways = nCr(8, 4)
print(ways)

70

In [21]:
# In how many different ways can the letters of the word CREAM be arranged?
f = 1
for i in range(1, 6):
    f = f * i
print(f)

120

# Date: 01-09-2025

In [1]:
# The ratio of the ages of Tina and Rakesh is 9 : 10 respectively. Ten years ago, the ratio of their ages was 
# 4 : 5 respectively. What is the present age of Rakesh?
for x in range(1, 200): 
    tina = 9 * x
    rakesh = 10 * x
    if (tina - 10) * 5 == (rakesh - 10) * 4:
        print(rakesh)

20

In [6]:
# Samir’s age is one-fourth of his father’s age and two-third of his sister Reema’s age. What is the ratio of
# the ages of Samir, Reema and their father respectively?
for x in range(1, 3):
    samir = x
    reema = (3 * samir) // 2
    father = 4 * samir
    if samir * 4 == father and samir * 3 == 2 * reema:
        print("Ratio:", samir, ":", reema, ":", father)

Ratio: 2 : 3 : 8

In [7]:
# The age of father 10 years ago was thrice the age of his son. 10 years hence father’s age will be twice that
# of his son. Find the ratio of their present ages. 
for x in range(1, 100):
    son_ago = x
    father_ago = 3 * x
    son_now = son_ago + 10
    father_now = father_ago + 10
    if father_now + 10 == 2 * (son_now + 10):
        print("Ratio:", father_now, ":", son_now)

Ratio: 70 : 30

In [14]:
# A man’s present age is two-fifths of the age of his mother. After 8 years, he will be one-half of the age of
# his mother. How old is the mother at present?
for m in range(1, 50):
    if 4*m + 80 == 5*(m + 8):
        print("Mother age:", m)

Mother age: 40

In [15]:
# The ages of two persons differ by 16 years. If 6 years ago, the elder one be three times as old as the younger
# one, find their present ages.
for elder in range(20, 100):
    younger = elder - 16
    if elder - 6 == 3 * (younger - 6):
        print("Elder:", elder, "Younger:", younger)

Elder: 30 Younger: 14

In [16]:
#The product of the ages of Ankit and Nikita is 240. If twice the age of Nikita is more than Ankit’s age by
# 4 years, then find Nikita’s age.
for ankit in range(1, 100):
    if 240 % ankit == 0:
        nikita = 240 // ankit
        if 2 * nikita - ankit == 4:
            print("Nikita age:", nikita)

Nikita age: 12

In [17]:
# Reenu’s age after 6 years will be three–sevenths of her father’s age. 10 years ago, the ratio of their ages was
# 1 : 5. What is Reenu’s father’s age at present?
for reenu_ago in range(1, 50):
    father_ago = 5 * reenu_ago
    reenu_now = reenu_ago + 10
    father_now = father_ago + 10
    if reenu_now + 6 == (3 * (father_now + 6)) // 7:
        print("Father age:", father_now)

Father age: 50

In [18]:
# The ratio of the present ages of a mother and her daughter is 7 : 1. Four years ago, the ratio of their
# ages was 19 : 1. What will be the mother’s age four years from now?
for x in range(1, 100):
    mother = 7 * x
    daughter = x
    if (mother - 4) * 1 == 19 * (daughter - 4):
        print("Mother's age after 4 years:", mother + 4)

Mother's age after 4 years: 46

In [19]:
# The ages of Nishi and Vinnee are in the ratio 6 : 5 respectively. After 9 years, the ratio of their ages
# will be 9 : 8. What is the difference in their ages now ?
for x in range(1, 100):
    nishi = 6 * x
    vinnee = 5 * x
    if (nishi + 9) * 8 == (vinnee + 9) * 9:
        print("Difference in ages:", nishi - vinnee)

Difference in ages: 3

In [20]:
# The present ages of Amit and his father are in the ratio 2 : 5 respectively. Four years hence, the ratio
# of their ages becomes 5 : 11 respectively. What was the father’s age five years ago? 
for x in range(1, 100):
    amit = 2 * x
    father = 5 * x
    if (amit + 4) * 11 == (father + 4) * 5:
        print("Father's age 5 years ago:", father - 5)

Father's age 5 years ago: 35

# Date:02-09-2025

In [40]:
# Find the factorial of a number using a loop
n = 6
f = 1
for i in range(1, n+1):
    f *= i
print(f)

720

In [39]:
# Find the sum of digits of a number
n = 9874
s = 0
for d in str(n):
    s += int(d)
print(s)

28

In [38]:
# Reverse a given number
n = 12345
rev = 0
while n > 0:
    rev = rev*10 + n%10
    n //= 10
print(rev)

54321

In [37]:
# Find the greatest common divisor (GCD) of two numbers
a, b = 48, 18
while b != 0:
    a, b = b, a % b
print(a)

6

In [36]:
# Find the least common multiple (LCM) of two numbers
a, b = 12, 18
m = a*b
while a != b:
    if a > b:
        a -= b
    else:
        b -= a
lcm = m // a
print(lcm)

36

In [35]:
# Check if a number is a palindrome
n = 1221
s = str(n)
print(s == s[::-1])

True

In [34]:
# Print the Fibonacci sequence up to n terms
n = 8
a, b = 0, 1
for i in range(n):
    print(a, end=" ")
    a, b = b, a+b
print()

0 1 1 2 3 5 8 13

In [33]:
# Find the sum of squares of first n natural numbers
n = 10
s = 0
for i in range(1, n+1):
    s += i*i
print(s)

385

In [32]:
# Count how many digits are in a number
n = 1234567
count = 0
while n > 0:
    count += 1
    n //= 10
print(count)

7

In [31]:
# Find the largest digit in a number
n = 98234
largest = 0
for d in str(n):
    if int(d) > largest:
        largest = int(d)
print(largest)

9